# Dependencies
node_modules/
.pnp
.pnp.js
.pnpm-debug.log
.npm
.yarn
yarn-error.log
yarn-debug.log
pnpm-lock.yaml

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.venv

# Python virtual environments
venv/
ENV/
env/
agentnex_env/
**/venv/
**/ENV/
**/env/
**/*_env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Testing
coverage/

# Turbo
.turbo/